
<!-- <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>My App</span>
      <span class="spacer"></span>
      <button mat-button routerLink="/">Home</button>
      <button mat-button routerLink="/categories">Categories</button>
      
    </mat-toolbar-row>
  </mat-toolbar> -->
  
  <div class="container">
    <mat-tab-group animationDuration="500ms">
        <mat-tab label="Tasks"> </mat-tab>
        <mat-tab label="Categories"> <app-categories></app-categories> </mat-tab>
        <mat-tab label="Completed Tasks"> </mat-tab>
      </mat-tab-group>
  </div>
  
